composer.phar
/vendor/
.vscode
config.php 
#we are aware that the last config got leaked but we don't mind because in our case it's only gonna be used on localhost

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock