

body{
    background-color: #004466;
    padding: 0;
    margin: 0;
}
.backg{
    width:350px;
    height:510px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.moon{
    background-color: white;
    height:250px;
    width:250px;
    border-radius: 50%;
    position: relative;
    top:25%;
    left:13%;
    box-shadow:0px 0px 80px 60px rgba(255,255,255,0.3);
}
.shad1{
    background-color: rgba(242, 242, 242,0.3);
    height:230px;
    width: 230px;
    border-radius: 50%;
    position: relative;
    top:20px;
    left:14px;
}
.cr1s{
    position: relative;
    top:50px;
    left:70px;
    background-color: rgba(217, 217, 217,0.8);
    height:55px;
    width:55px;
    border-radius: 50%;
}
.cr2s{
    position: relative;
    top:70px;
    left:25px;
    background-color: rgba(217, 217, 217,0.8);
    height:25px;
    width:25px;
    border-radius: 50%;
}
.cr3s{
    position: relative;
    top:80px;
    left:158px;
    background-color: rgba(217, 217, 217,0.8);
    height:35px;
    width:35px;
    border-radius: 50%;
}
.cr4s{
    position: relative;
    bottom:40px;
    left:185px;
    background-color: rgba(217, 217, 217,0.8);
    height:18px;
    width:18px;
    border-radius: 50%;
}
.cr5s{
    position: relative;
    top:55px;
    left:78px;
    background-color: rgba(217, 217, 217,0.8);
    height:21px;
    width:21px;
    border-radius: 50%;
}
.cr1{
    position: relative;
    bottom:3.5px;
    right: 2px;
    background-color: #f2f2f2;
    height:55px;
    width:55px;
    border-radius: 50%;
}
.cr2{
    position: relative;
    bottom:2px;
    right: 1.5px;
    background-color: #f2f2f2;
    height:25px;
    width:25px;
    border-radius: 50%;
}
.cr3{
    position: relative;
    bottom:2px;
    right: 1.5px;
    background-color: #f2f2f2;
    height:35px;
    width:35px;
    border-radius: 50%;
}
.cr4{
    position: relative;
    bottom:2px;
    right: 1.5px;
    background-color: #f2f2f2;
    height:18px;
    width:18px;
    border-radius: 50%;
}
.cr5{
    position: relative;
    bottom:2px;
    right: 1.5px;
    background-color: #f2f2f2;
    height:21px;
    width:21px;
    border-radius: 50%;
}
.shad2{
    height:250px;
    width:250px;
    border-radius: 50%;
    position: relative;
    background-color: transparent;
    box-shadow: 20px 20px rgba(217, 217, 217,0.6);
    bottom: 250px;
    right: 20px;
}
.broom{
    position: relative;
    height: 20px;
    width: 0px;
    border-left: 80px solid  #00334d;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
.br1{
    position: relative;
    bottom:5px;
    right: 1px;
    height:28px;
    width:10px;
    background-color: #00334d;
}
.br2{
    position: relative;
    left:9px;
    bottom: 6px;
    height: 10px;
    width: 0px;
    border-right:25px solid  #00334d;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.stick{
    position: relative;
    left:10px;
    bottom:3.5px;
    width:320px;
    height: 15px;
    background-color: #00334d;
    border-radius:100px;
}
.face{
    background-color:#00334d;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    bottom: 216px;
    left:230px;
    transform: rotate(10deg);
}
.nose{
    background-color:#00334d;
    height:15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    left:50px;
    top:20px;
}
.hair{
    height:100px;
    width:40px;
    background-color: #00334d;
    border-radius:40px;
    position: relative;
    transform:rotate(15deg);
    right: 10px;
}
.neck{
    height:30px;
    width:15px;
    background-color: #00334d;
    border-radius:40px;
    position: relative;
    bottom: 95px;
    left:30px;
    transform:rotate(5deg);
}
.hat{
    background-color: #00334d;
    height:25px;
    width:115px;
    border-radius: 50%;
    position: relative;
    bottom:115px;
    right: 30px;
    transform:rotate(-15deg);
}
.hat1{
    height: 0px;
    width: 0px;
    border-left:40px solid transparent;
    border-right:40px solid transparent;
    border-bottom:80px solid  #00334d;
    position: relative;
    bottom: 68px;
    left:18px;
}
.hat2{
    height: 0px;
    width: 0px;
    border-top: 15px solid transparent;
    border-bottom:15px solid transparent;
    border-right: 40px solid #00334d;
    position: relative;
    right:39.5px;
    bottom: 0.5px;
    transform:rotate(5deg);
}
.cloak{
    height: 0px;
    width: 20px;
    border-bottom: 135px solid #00334d;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: relative;
    bottom: 102px;
    right:23px;
}
.hand{
    height:110px;
    width:20px;
    border-radius:30px;
    background-color:#00334d;
    transform:rotate(-40deg);
    position: relative;
    bottom: 235px;
    left:60px;
}
.leg1,.leg2{
    position: relative;
    height:60px;
    width:16px;
    background-color: #00334d;
    transform: rotate(41deg);
    border-radius:50px;
}
.leg1{
    bottom: 230px;
    left:0px;
}
.leg2{
    bottom: 300px;
    left:40px;
}
.witch1{
    transform: scale(0.5) rotate(-10deg);
}
.witch{
    position: relative;
    right: 10px;
    bottom: 40px;
    animation: fly 3s infinite;
    animation-delay: 0.1s;

}
@keyframes fly{
    30%{
        transform: translateY(-200px );
        /* transform:translateX(500px); */

    }

}