html,
body {
    height: 100%
}

.header-top-right-logout-butt {}

.header-top-right-download-butt {}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: lightgrey;
}

.content-header {
    display: flex;
    align-items: center;
}

.content-header-top-right-form {}

.flex-grow {
    flex-grow: 1;
}

body {
    margin-left: 2%;
    margin-right: 2%;
}

.content-footer {
    position: absolute;
    bottom: 0;
    margin: 0 50%;
}

html {
    background-image: url("../resources/vapor_logo_banner_stars.png");
    background-size: cover;
    background-color: black;
}

.centerInput {
    margin-left: 25%;
    margin-right: 25%;
}

.pageSelected {
    color: white;
    background-color: rgb(36, 33, 33);
}

.godsTable {
    border-color: #545b5e;
    border-collapse: collapse;
    background: white;
    background-color: white;
    background-image: none;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: rgb(24, 26, 27);
}

.godsTable * {
    position: relative;
    width: -webkit-fill-available;
}

.godsTable tbody tr {
    color: rgb(179, 176, 171);
    font-family: OpenSans-Regular;
    font-size: 15px;
    line-height: 1.2;
    font-weight: unset;
    text-align: center;
}

.godsTable tbody tr:nth-child(2n) {
    background-color: rgb(30, 32, 33);
}

.godsTable tbody tr button {
    background-color: #2b263b;
    color: rgb(179, 176, 171);
    border: black 2px solid;
    width: auto;
    border-radius: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.godsTable tbody tr button:not(:hover) {
    animation-name: btnNotHvr;
    animation-duration: 1s;
}

.godsTable tbody tr button:hover {
    animation-name: btnHvr;
    animation-duration: 1s;
    background: lightgrey;
    color: #2b263b;
}

.godsTable tbody th {
    background-color: #3f3466;
}

.homeLink {
    text-decoration: none;
    color: black;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column label p {
    margin-right: 5%;
}

.centerAddAccount {
    margin-top: 1.5%;
    position: absolute;
    left: 48%;
    background-color: #2b263b;
    color: rgb(179, 176, 171);
    border: black 2px solid;
    border-radius: 7px;
}

.centerAddAccount:not(:hover) {
    animation-name: btnNotHvr;
    animation-duration: 1s;
}

.centerAddAccount:hover {
    animation-name: btnHvr;
    animation-duration: 1s;
    background: lightgrey;
    color: #2b263b;
}

.formSeperateMiddle {
    display: flex;
    justify-content: space-between;
}

.library {
    display: flex;
    flex-direction: row;
}

.library form {
    flex-direction: column;
    width: 20%;
    background-color: #3f3466;
}

.library form button {
    width: 100%;
    background-color: rgb(60, 45, 87);
    padding: 2px;
    border: 1px rgb(24, 26, 27) solid;
    color: white;
}

.library > div {
    width: 80%;
    height: 900px;
    background-color: #2b263b;
    visibility: visible;
}

.selectedGame {
    background-color: #655b88 !important;
}

.imageBotText {
    position: relative;
    top: -50px;
    left: 16px;
    font-size: xx-large;
    color: #fff;
}

.flex-games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-games-element button {
    position: relative;
    left: 0;
    top:0;
}

.reload-button {
    bottom: 0;
}

.single-game-page {
    display: flex;
    flex-direction: column;
    background-color: #2b263b;
    align-items: center;
}

.single-game-page img {
    position: absolute;
}

.single-game-page .single-game-page-rest {
    margin-top: 45%;

}

.imageTopText {
    position: relative;
    text-align: center;
    color: white;
    font-size: 70px;
}


.notrealinput{
    position: relative;
    background-color: #2b263b;
    color: rgb(179, 176, 171);
    border: black 2px solid;
    border-radius: 7px;
}


.notrealinput:not(:hover) {
    animation-name: btnNotHvr;
    animation-duration: 1s;
}

.notrealinput:hover {
    animation-name: btnHvr;
    animation-duration: 1s;
    background: lightgrey;
    color: #2b263b;
}

button {
    background-color: #2b263b;
    color: rgb(179, 176, 171);
    border: black 2px solid;
    width: auto;
    border-radius: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}

button:not(:hover) {
    animation-name: btnNotHvr;
    animation-duration: 1s;
}

button:hover {
    animation-name: btnHvr;
    animation-duration: 1s;
    background: lightgrey;
    color: #2b263b;
}

p {
    color: lightgrey;
}

dt, dd {
    color: lightgrey;
}

@keyframes btnNotHvr {
    0%{
        background: lightgrey;
    }
    99% {
        background: #2b263b;
    }
    100%{
        color:lightgrey;
    }
}


@keyframes btnHvr {
    0%{
        background: #2b263b;
    }
    99% {
        background: lightgrey;
    }
    100%{
        color:#2b263b;
    }
}
